<% provide(:title, 'about') %>
<h1>About</h1>
<p>rsstful is a school project for a Ruby on Rails course written and developed by Karl Puusepp.
It's source code is publicly available at http://github.com/rerelease/rsstful</p>
