
<% if user_signed_in? %>
	<h1>Feeds</h1>
	<% if current_user.subscriptions.empty? %>
		<p> You are currently not subscribed to any feeds. Would you like to <%= link_to "add some?", subscriptions_path %></p>
	<% else %>
		<% current_user.subscriptions.each do |sub| %>
			<h2><%= sub.location %></h2>
			<% FeedEntry.order("published_at DESC").limit(3).where(:feed_url => sub.location).each do |f| %>
				<div id="feeddisplay">
					<h3><%= link_to f.name, f.url %></h3>
					<p><%= f.published_at %></p>
					<p><%= f.summary.html_safe %></p>
				</div>                                          
			<% end %>
		<% end %>
	<% end %>

<% else %>
	<%= render 'layouts/loggedout' %>
<% end %>
