<% if user_signed_in? %>
	<h2> Add a subscription</h2>
	<% if notice %>
		<p id="notice" ><%= notice %></p> 
	<% end %>
	<%= form_for(:subscription) do |f| %>
		<p>
		<%= f.label :location %><br />
		<%= f.text_field :location %>
		</p>
		<p>
		<%= f.submit %>
		</p>
	<% end %>

	<h2> My subscriptions </h2>

	<table>
		<tr>
			<th>URL</th>
			<th>Text</th>
			<th></th>
			<th></th>
		</tr>

		<% current_user.subscriptions.each do |sub| %>
			<tr>
				<td><%= sub.location %></td>
				<td><%= sub.created_at %></td>
				<td><%= link_to 'Show', subscription_path(sub) %></td>
				<td><%= link_to 'Unsubscribe', subscription_path(sub), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<% provide(:title, 'please log in') %>
	<%= render 'layouts/loggedout' %>
<% end %>
