<% if user_signed_in? %>
	<% unless @subscription == nil %>
		<p>
		<strong>Feed at: </strong><%= @subscription.location %>
		</p>

		<% FeedEntry.where(:feed_url => @subscription.location).each do |f| %>
			<div id="feeddisplay">
				<h3><%= link_to f.name, f.url %></h3>
				<p><%= f.published_at %></p>
				<p><%= f.summary.html_safe %></p>
			</div>
		<% end %>

	<% else %>
		<h2>You shouldn't be here.</h2>
	<%end%>
<% else %>
	<%= render 'layouts/loggedout' %>
<% end %>
