<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
	<div class="container">
		<%= link_to "rsstful", '/', id: "logo" %>
		<nav>
		<ul class="nav pull-right">
			<li>
			<div id="user_nav">
				<% if current_user %>
					welcome, <strong><%= current_user.name %></strong> |
					<%= link_to "subscriptions", subscriptions_path, id: "sign_out" %> |
					<%= link_to "logout", signout_path, id: "sign_out" %> 
				<% else %>
					<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
				<% end %>
			</div>
			</li>
		</ul>
		</nav>
	</div>
</div>
</header>
